<div class="container justify-content-center">
    <div class="position-relative p-5 bg-body border border-secondary rounded-5">
        <h1 class="text-body-emphasis">E Form SKRD Pemakaian Listrik </h1>
        <p class="col-lg-6">
            Mohon untuk mengisi data dengan benar.
        </p>
        <div class="row justify-content-center ">
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-4">
                        <label class="form-label required">No. SKRD</label>
                        <input type="text" class="form-control form-control-rounded mb-2" autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <label class="form-label required">Nama Pengguna</label>
                        <input type="text" class="form-control form-control-rounded mb-2" autocomplete="off">
                    </div>
                    <div class="mb-4">
                        <label class="form-label required">Nama Kapal</label>
                        <input type="text" class="form-control form-control-rounded mb-2" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label class="form-label">Tarif Retribusi</label>
                        <select class="form-select form-control-rounded" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled>Pilih Tarif</option>
                            <option value="1">Rp. 150.000</option>
                            <option value="2">Rp. 200.000</option>
                            <option value="3">Rp. 250.000</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label required">Total Pemakaian (Kali)</label>
                        <input type="text" class="form-control form-control-rounded mb-2" placeholder="Contoh: 2" autocomplete="off" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label required">Diterima oleh</label>
                        <select class="form-select form-control-rounded" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled>Pilih Petugas</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-4">
                        <label class="form-label required">Diterima oleh</label>
                        <select class="form-select form-control-rounded" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled>Pilih Petugas</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label class="form-label">Tanggal terima</label>
                        <input type="date" class="form-control form-control-rounded mb-2" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <div class="form-label required">Email</div>
                        <input type="email" class="form-control form-control-rounded" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-end">
                <button class="btn btn-primary">Kirim</button>
            </div>
        </div>
    </div>
</div>