<div class="page page-center" [ngClass]="[animation]">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="." class="navbar-brand navbar-brand-autodark">
        <img src="assets/img/logosipelikan.png" width="70" height="70" alt="Sipelikan" class="img-fluid rounded-circle">
      </a>
      <h1>SIPELIKAN</h1>
    </div>
    <div class="card card-md" style="border-radius: 25px;"> 
      <div class="card-body">
        <h1 class="h1 text-center mb-4">Login Aplikasi</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
          <div class="mb-3">
            <label class="form-label">Autentikasi Pengguna</label>
            <input type="text" class="form-control" placeholder="Email / Username / No.Telp / NIK" autocomplete="off" id="username" formControlName="email"> <!-- formControlName="username" -->
          </div>
          <div class="mb-2">
            <label class="form-label">
              Password
              <span class="form-label-description">
                <a href="javascript:void(0)">Lupa Password</a>
              </span>
            </label>
            <div class="input-group input-group-flat">
              <input type="password" class="form-control" placeholder="Password" autocomplete="off" id="password" formControlName="password">
              <span class="input-group-text">
                <a href="javascript:void(0)" class="link-secondary" title="Show password"
                  data-bs-toggle="tooltip">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                  </svg>
                </a>
              </span>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-check">
              <input type="checkbox" class="form-check-input"/>
              <span class="form-check-label">Remember me on this device</span>
            </label>
          </div>
          <div class="form-footer"></div>
          <button type="submit" class="btn btn-primary w-100" style="border-radius: 25px;">Masuk</button>
        </form>
      </div>

      <div class="d-flex justify-content-center text-center p-4">
        <a href="javascript:void(0)" (click)="toggleTheme()" class="nav-link px-0 hide-theme-dark px-2" title="Enable dark mode"
          data-bs-toggle="tooltip" data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
          </svg>
          <span class="text-center px-2">Dark Mode</span>
        </a>
        <a href="javascript:void(0)" (click)="toggleTheme()" class="nav-link px-0 hide-theme-light px-2" title="Enable light mode"
          data-bs-toggle="tooltip" data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
          </svg>
          <span class="text-center px-2">Light Mode</span>
        </a>
      </div>

      <div class="hr-text">
        <span>atau</span>
      </div>
      <div class="text-center text-secondary p-5">
        Belum memiliki akun? <a href="javascript:void(0)" tabindex="-1" routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</div>
