<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title py-2">
          {{ isActive('/dashboard/home') ? 'Dashboard' :
            isActive('/dashboard/user') ? 'User' :
            isActive('/dashboard/dokumen') ? 'Dokumen' :
            isActive('/dashboard/verifvalid') ? 'Verifikasi & Validasi' :
            isActive('/dashboard/permohonan') ? 'Permohonan' :
            isActive('/dashboard/menu') ? 'Menu' :
            isActive('/dashboard/menu/tambat-sungairengas') ? 'Tambat Sungai Regas' :
            isActive('/dashboard/menu/tambat-sungaikakap') ? 'Tambat Sungai Kakap' :
            isActive('/dashboard/menu/gerobak') ? 'Gerobak' :
            isActive('/dashboard/menu/mess') ? 'Mess' :
            isActive('/dashboard/menu/pas-masuk') ? 'Pas Masuk' :
            isActive('/dashboard/menu/lahan') ? 'Lahan' :
            isActive('/dashboard/menu/bangunan') ? 'Bangunan' :
            isActive('/dashboard/menu/listrik') ? 'Listrik' : ''
          }}
        </h2>
      </div>

      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="#" class="btn">
              New view
            </a>
          </span>
          <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
            data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            Create new report
          </a>
          <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report"
            aria-label="Create new report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
