<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title py-2">
          {{ isActive('/dashboard/home') ? 'Dashboard' :
          isActive('/dashboard/user') ? 'User' :
          isActive('/dashboard/dokumen') ? 'Dokumen' :
          isActive('/dashboard/verifvalid') ? 'Verifikasi & Validasi' :
          isActive('/dashboard/permohonan') ? 'Permohonan' :
          isActive('/dashboard/menu') ? 'Menu' :
          isActive('/dashboard/menu/tambat-sungairengas') ? 'Tambat Sungai Regas' :
          isActive('/dashboard/menu/tambat-sungaikakap') ? 'Tambat Sungai Kakap' :
          isActive('/dashboard/menu/gerobak') ? 'Gerobak' :
          isActive('/dashboard/menu/mess') ? 'Mess' :
          isActive('/dashboard/menu/pas-masuk') ? 'Pas Masuk' :
          isActive('/dashboard/menu/lahan') ? 'Lahan' :
          isActive('/dashboard/menu/bangunan') ? 'Bangunan' :
          isActive('/dashboard/menu/listrik') ? 'Listrik' : 
          isActive('/dashboard/profiles') ? 'Profil Pengguna' : ''
          }}
        </h2>
      </div>
    </div>
  </div>
</div>